<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X_UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header class="header">
      <nav>
        <a class="brand" href="" title="Calculadora de impuestos aduanales">
            <img src="" alt="logo">
        </a>
      <div class="tittle">Calculadora de impuestos aduanales</div>

      </nav>
    </header>

    <div class="main">

      <div class="entradas">
        <div class="autocomplete-container">
          <input 
              type="text" 
              id="productoInput"
              placeholder="Escribe el producto"
              autocomplete="off"
          >
          <ul id="sugerencias"></ul>
        </div>

        <div class="subtotal">
          <label for="precio">Precio Unitario:</label>
          <input type="number" id="preciounit" placeholder="Ingresa el precio unitario" min="3"/>
          
        </div>

        <div class="subtotal">
          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" placeholder="Ingresa la cantidad"/>
        </div>

        <div class="subtotal">
          <label for="pais">País de orígen:</label>
          <input type="text" id="pais" placeholder="Ingresa el pais"/>
        </div>

        <div class="subtotal">
          <label for="flete">Monto del flete:</label>
          <input type="number" id="flete" placeholder="Ingresa el monto del flete"/>
        </div>
        
        <div class="subtotal">
          <label for="seguro">Monto del seguro:</label>
          <input type="number" id="seguro" placeholder="Ingresa el monto del seguro"/>
        </div>

        <button id="calcularBtn">Calcular</button>

      </div>
      
      <section id="resultado">
          <h2>Resultado</h2>
          <div id="resultadoContenido"></div>
      </section>

    </div>


    <script src="../static/script.js"></script>
  </body>
  

</html>
